@page "/privacy"

<!-- this first PHYSICAL line on a page is the routing directive
     it contains the internal page name for use by the menu
     it is not case-sensitive, BUT spelling is important
-->
<!-- the PageTitle is where you will place the browser tab page title
    every page during this course MUST have a PageTitle as part of the class standards
-->
<PageTitle>Privacy</PageTitle>

<!-- gthe remainder of this code is the page content-->

<style>
    h1 {
        color: darkblue;
    }

    p {
        font-size: 1.1em;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1>Privacy</h1>

            <p><strong>Author:</strong> Daniel Arancibia </p>
            <p><strong>Section:</strong> A02</p>
            <p><strong>Instructor:</strong> Don Welch </p>

            <h3>Known Bugs:</h3>
            <ul class="list-unstyled">
                <li>None/unknow</li>
            </ul>

            @* THE LICENSE DOCUMENT IS IN THE LOGO FOLDER  *@
            <h3>Credits and Attributions:</h3>
            <p>
                <a href="https://www.flaticon.com/free-icons/renovation" title="renovation icons">Renovation icons created by Eucalyp - Flaticon</a>
                Logo image: Renovation by Eucalyp on Flaticon.com Free for commercial use WITH ATTRIBUTION license
            </p>
        </div>
    </div>
</div>

@* <p> Note on Copyright Protection</p>
<img src="./img/Copyright-Protected-work.png" alt="copyright" /> *@



@* <p>The images for renovation icon was an image supplied By:
     <a href="https://www.flaticon.com/free-icon/renovation_2942587?related_id=2942551&origin=search" target="_blank"> *@
@* Renovation icon designed by Eucalyp from Flaticon *@


@*       <a href="https://www.flaticon.com/free-icons/renovation" title="renovation icons">Renovation icons created by Eucalyp - Flaticon</a>

         </a> 
    &nbsp; No copyright infringement is intended. 

@*     <br/><br/>
    This is a way you can give credit to sources outside of your original work that you are
    using for educational purposes. This does not cause copyright infringement if the source
    allows for use of its material for <strong>non-monetary gains</strong>. 
</p>
<p> Note on Copyright Protection</p>
<img src="./img/Copyright-Protected-work.png" alt="copyright" />

<h5>
     
    
@* 
</h5>

<h5>
    <a href="https://support.google.com/legal/answer/4558992?h1=en&ref_topic=4558877" target="_blank">
        What is Fair Use</a>
</h5>
 *@














@code {

}
