<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="./img/WestWindLogo.png" alt="logo"
                    style="width:40px; height:40px;"
                    title="Go to home" />
            Blazor App</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="basicevents">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Basic Events
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="controls">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Common Controls
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dataentry">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Data Collection
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="report">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tabular Report
            </NavLink>
        </div>

        <!-- 
            the href is the routing name for your page
            the text at the end of the span tag is the text on the menu
        -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="privacy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Privacy
            </NavLink>
        </div>
    </nav>
</div>

